@import './variables/galeria';
@import './variables/titulos';
@import './variables/index';
@import './variables/formulario';
@import './variables/mundial-2022';
body {
	margin: 0;
	font-family: monospace;
	min-height: 70vh;
	background-image: linear-gradient(to right, #47c6f883, #ffffff, #47c6f883 ) ;
}
.titulo2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


